@import "~normalize.css";
@import "roboto.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 50px;
  margin: 0 auto;
}

.name {
  text-align: center;
}